body {
  background-image: linear-gradient(#323438, #424448, #323438);
}
.ListingDetailed {
  width: 100%;
  min-height: 101vh;
  height: 100%;
  background-image: linear-gradient(#323438, #424448, #323438);
}

.ListingDetailed .container {
  position: relative;
  top: 150px;
}

.ListingDetailed img {
  width: 70vw;
  max-width: 400px;
  height: 70vw;
  max-height: 400px;
  object-fit: contain;
}
.ListingDetailed .container p {
  color: #fff;
  letter-spacing: 0.1em;
  margin: 0;
  margin-top: 10px;
}
.ListingDetailed .container .title {
  letter-spacing: 0.05em;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.ListingDetailed .container .year {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: rgb(185, 187, 190);
  font-family: "Delius", cursive;
  font-style: italic;
  margin-top: 5px;
}

.ListingDetailed .container .amount {
  height: 40px;
  font-size: 18px;
  width: 80px;
  border-radius: 20px;
  text-align: center;
  background: #424448;
  color: rgb(185, 187, 190);
  font-family: "Delius", cursive;
  border: 1px solid #323438;
  justify-self: flex-end;
}
.ListingDetailed .cartStuff {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.ListingDetailed .addToCart {
  color: rgb(185, 187, 190);
  background: #424448;
  border: 1px solid #323438;
  border-radius: 20px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ListingDetailed .addToCart i {
  font-size: 20px;
}
