body {
  margin: 0;
  background-image: linear-gradient(#323438, #424448, #323438);
}
.App {
  font-family: "Lato", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  height: 100%;
  background: #222428;
}

.link {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove controls from Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
textarea:focus,
input:focus {
  outline: none;
}
