.Listings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Listings .About {
  color: white;
  margin-top: 80px;
  width: 80%;
  max-width: 500px;
}

.Listings .About h1 {
}
.listingsGrid {
  width: 100%;
  max-width: 800px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
}

.Listings .search {
  color: white;
  background: #343638;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-bottom: 0;
  animation: shrink 0.5s forwards;
}

.Listings .search .searchInput {
  background: #343638;
  border: none;
  color: rgb(185, 187, 190);
  min-width: 90%;
  font-size: inherit;
}

.Listings .search i {
  width: 20px;
}

.Listings .search:hover,
.Listings .search:focus {
  animation: expand 0.5s forwards;
}

.Listings .link img {
  animation: appear 1s forwards;
}

.Listings .filter {
  color: rgb(185, 187, 190);
  background: #343638;
  border: none;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  left: 10px;
  font-size: 20px;
  z-index: 1;
}

.Listings .filter:hover {
  color: white;
}
@keyframes expand {
  0% {
    padding: 10px;
    width: 40%;
    font-size: 16px;
    max-width: 300px;
  }
  100% {
    padding: 15px;
    width: 80%;
    font-size: 20px;
    max-width: 400px;
  }
}
@keyframes shrink {
  0% {
    padding: 15px;
    width: 80%;
    font-size: 20px;
    max-width: 400px;
  }
  100% {
    padding: 10px;
    width: 40%;
    font-size: 16px;
    max-width: 300px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .Listings {
    grid-template-columns: 1fr 1fr;
  }
}
